* text=auto


# images
*.jpg   binary
*.png   binary
*.gif   binary
*.psd   binary
*.dds   binary
*.tga   binary


# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary

# debug db's
*.pdb binary


# line endings
*.lua eol=lf