[submodule "tools/Ladybug"]
	path = tools/Ladybug
	url = ../../root/ladybug.git
[submodule "game_folder/mod"]
	path = game_folder/mod
	url = ../../root/PotatoEngine-TestAssets.git
[submodule "game_folder/art_source"]
	path = game_folder/art_source
	url = ../../root/PotatoEngineArtSource.git
[submodule "3rdparty/Wwise_libs"]
	path = 3rdparty/Wwise_libs
	url = ../../root/WwiseLibs.git
[submodule "3rdparty/Physx_libs"]
	path = 3rdparty/Physx_libs
	url = ../../root/Physx.git
[submodule "game_folder/asset_db"]
	path = game_folder/asset_db
	url = ../../root/PotatoAssetDB.git
[submodule "3rdparty/source/imgui"]
	path = 3rdparty/source/imgui
	url = ../../misc/imgui.git
[submodule "3rdparty/source/SDL2"]
	path = 3rdparty/source/SDL2
	url = ../../misc/sdl2.git
